{% extends "base.html" %}
{% load thumbnail static i18n %}

{% block cms_toolbar_area %}{% endblock %}

{% block title_head %}{% trans "Events" %}{% endblock %}

{% block flags %}
<div class='flags'>
    {% language 'it' %}<a class='ita' href='{% url "montecatini_events" %}'>{% trans "Italian" %}</a>{% endlanguage %}
    {% language 'en' %}<a class='eng' href='{% url "montecatini_events" %}'>{% trans "English" %}</a>{% endlanguage %}
    {% language 'de' %}<a class='deu' href='{% url "montecatini_events" %}'>{% trans "German" %}</a>{% endlanguage %}
    {% language 'ru' %}<a class='rus' href='{% url "montecatini_events" %}'>{% trans "Russian" %}</a>{% endlanguage %}
    {% language 'es' %}<a class='esp' href='{% url "montecatini_events" %}'>{% trans "Spanish" %}</a>{% endlanguage %}
    {% language 'fr' %}<a class='fra' href='{% url "montecatini_events" %}'>{% trans "French" %}</a>{% endlanguage %}
    {% language 'zh' %}<a class='cin' href='{% url "montecatini_events" %}'>{% trans "Chinese" %}</a>{% endlanguage %}
</div>
{% endblock %}

{% block base_title %}
<div class='span12'>
  <div class="titolo clearfix">
    <h1>
      <img src="{% static "img/icona-dettaglio-eventi.png" %}" />
      <span>{% blocktrans %}EVENTS{% endblocktrans %}</span>
    </h1>
  </div>
</div>
{% endblock %}

{% block slider %}
    <div class='noslider'></div>
{% endblock slider %}

{% block base_content %}
    <div id="listaeventi">
        <ul>
            {% for item in items %}
            <li class="contentpage">
                <a href="{{ item.get_absolute_url }}">
                    <div class="top">
                        <div class="image">
                            {% if item.picture %}
                                <img src="{% thumbnail item.picture 190x190 upscale crop %}"  />
                            {% else %}
                                <img src="{% static "img/pixel.png" %}" />
                            {% endif %}
                        </div>

                        <div class="abstract">
                            <h2>{{ item.title }}</h2>
                            {% if item.subtitle1 %}<p>{{ item.subtitle1 }}</p>{% endif %}
                            {% if item.subtitle2 %}<p>{{ item.subtitle2 }}</p>{% endif %}
                        </div>
                        <div class="break"></div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


