{% load cms_tags sekizai_tags static i18n %}<!DOCTYPE html>
<html charset="utf-8">
<head>
    <title>{% block title_head %}{% page_attribute "page_title" %}{% endblock %}</title>
    {% render_block "css" %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

{% if request.is_cordova %}
    {% if request.is_ios %}
    <script type="text/javascript" src="{% static "js/cordova.js" %}"></script>
    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
    {% elif request.is_android %}
    <script type="text/javascript" src="{% static "android/cordova.js" %}"></script>
    <script type="text/javascript" src="{% static "android/js/index.js" %}"></script>
    {% endif %}
{% else %}
    <meta name="apple-itunes-app" content="app-id=711493891">
{% endif %}

    <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    {% block extraheaders %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36993689-2', 'ivirgilius.com');
  ga('send', 'pageview');

</script>

</head>
<body>
{% cms_toolbar %}
{% block cms_toolbar_area %}{% endblock %}

<div id='external'>

  <div id='loader'>
    <img src='{% static "img/loader.gif" %}'>
  </div>

  <div id='languageoverlay'></div>
  <div id='language'>

    {% block flags %}
    {% include "_flags.html" %}
    {% endblock %}

  </div>

  <div id="cont" class='container'>

    {% block topslider %}
        {% block back %}
        <div id="header">
          <div id="logo">
            <img src="{% static "img/logo.png" %}">

            <div id='currentlanguage'>
              <span class='{{ request.LANGUAGE_CODE }}'></span>
              <div class='freccia'></div>
            </div>

          </div>

          {% if request.current_page.parent %}
          <div id="top"><a href="{{ request.current_page.parent.get_absolute_url }}"><img src="{% static "img/back.png" %}"></a></div>
          {% endif %}

        </div>
        {% endblock back %}

        {% block slider %}
        <div id="banner-fade">
          <ul class="bjqs">
            <li><img src="{% static "img/slider1.jpg" %}" title=""></li>
            <li><img src="{% static "img/slider2.jpg" %}" title=""></li>
            <li><img src="{% static "img/slider3.jpg" %}" title=""></li>
          </ul>
        </div>
        {% endblock slider %}
    {% endblock topslider %}

    <div id="content" class='row-fluid clearfix'>
      {% block base_title %}{% endblock %}
      {% block base_content %}{% endblock %}
      <div class="break clearfix"></div>
    </div>

    {% block footer %}
    <div id="footer">
      <p>Comune di Montecatini Terme - Viale Verdi, 46<br>51016 Montecatini Terme (Pistoia) - c.f. 00181660473</p>
      <div class='credits'><a href="/credits/">CREDITS</a></div>
    </div>
    {% endblock %}

  </div>
</div>

{% render_block "js" %}

<script type="text/javascript" src="{% static "js/bjqs-1.3.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.accordion.source.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/jquery.jcarousel.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/replacementmap.js" %}"></script>
<script type="text/javascript" src="{% static "js/montecatini.js" %}"></script>

</body>
</html>
